<form ng-submit="$ctrl.onSave($event)" dx-validation-group="{validation}">
  <div class="block">
    <!-- HEARDER -->
    <div
      class="block-header block-header-default"
      style="
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      "
    >
      <h3 class="block-title font-weight-bold" style="color: #2facb2">
        THÊM SẢN PHẨM
      </h3>
      <div class="block-options">
        <!-- Save -->
        <div dx-button="$ctrl.controls.btnSave"></div>
        <!-- Close -->
        <div dx-button="$ctrl.controls.btnClose"></div>
        <!-- Full Screen -->
        <button
          type="button"
          class="btn-block-option"
          data-toggle="block-option"
          data-action="fullscreen_toggle"
          title="Phóng to / Thu nhỏ"
        >
          <i class="si si-size-fullscreen"></i>
        </button>
      </div>
    </div>

    <!-- :::::: CONTENT :::::: -->
    <div class="block-content pt-20">
      <div class="row">
        <!-- ::: NAME ::: -->
        <!-- Name -->
        <div class="col-md-5 form-group" style="padding-right: 0px">
          <label class="col-12">
            Tên sản phẩm <span style="color: red">*</span>
          </label>
          <div class="col-md-12">
            <div
              dx-text-box="$ctrl.controls.tbName"
              dx-validator="$ctrl.validators.name"
            ></div>
          </div>
        </div>
        <!-- Nhóm -->
        <div
          class="col-md-4 form-group"
          style="padding-left: 0px; padding-right: 0px"
        >
          <label class="col-12">Nhóm sản phẩm</label>
          <div class="col-md-12">
            <div dx-select-box="$ctrl.controls.slbGroup"></div>
          </div>
        </div>
        <!-- Code -->
        <div class="col-md-3 form-group">
          <label class="col-12"> Mã sản phẩm </label>
          <div class="col-md-12">
            <div dx-text-box="$ctrl.controls.tbCode"></div>
          </div>
        </div>

        <!--Validation Summary-->
        <div class="col-md-12">
          <div dx-validation-summary="{validation}" style="padding: 20px"></div>
        </div>

        <!-- ::: MAIN ::: -->
        <div class="col-md-9 mb-20">
          <!-- Description -->
          <div class="col-md-12 form-group mb-30">
            <label class="col-12">Mô tả</label>
            <div class="col-md-12">
              <div dx-text-area="$ctrl.controls.taDescription"></div>
            </div>
          </div>

          <!-- Feature -->
          <div class="col-md-12 form-group mb-30">
            <label class="col-12">Thông tin kỹ thuật</label>
            <div class="col-md-12">
              <div dx-data-grid="$ctrl.techInfoDatagrid"></div>
            </div>
          </div>

          <!-- Prices -->
          <div class="col-md-12 form-group mb-30">
            <label class="col-12">So sánh giá</label>
            <div class="col-md-12">
              <div dx-data-grid="$ctrl.pricesDatagrid"></div>
            </div>
          </div>

          <!-- Content -->
          <div class="col-md-12 form-group mb-30">
            <label class="col-12">Nội dung</label>
            <div class="col-md-12">
              <textarea ck-editor ng-model="data.Content"></textarea>
            </div>
          </div>

          <!-- Ảnh -->
          <div class="col-md-12 form-group mb-30">
            <label class="col-12">Ảnh</label>
            <div class="col-md-4">
              <div dx-button="$ctrl.controls.btnAddMedia"></div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div
                  class="col-md-4"
                  ng-repeat="link in data.Images track by $index"
                >
                  <div ng-if="!$ctrl.commonService.isNullOrEmpty(link)">
                    <div style="text-align: center">
                      <img
                        style="cursor: pointer; margin-top: 10px"
                        ng-click="$ctrl.updateMedia($index)"
                        class="img-fluid"
                        ng-src="{{ link }}"
                        alt="Ảnh"
                        title="Chọn ảnh"
                      />
                    </div>
                    <div style="margin-top: 10px">
                      <i style="font-size: 0.85em"
                        >Nhấn vào để sửa hoặc cập nhật</i
                      >
                    </div>
                    <div style="margin-top: 10px">
                      <a
                        ng-click="$ctrl.removeMedia($index)"
                        class="media-image-link"
                      >
                        Xóa ảnh
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ::: RIGHT ::: -->
        <div class="col-md-3 mb-20">
          <div class="row">
            <!-- Danh mục -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">
                Danh mục <span style="color: red">*</span>
              </label>
              <div class="col-md-12">
                <div
                  dx-select-box="$ctrl.controls.slbCategory"
                  dx-validator="$ctrl.validators.category"
                ></div>
              </div>
            </div>
            <!-- Nhãn hiệu -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">
                Nhãn hiệu <span style="color: red">*</span>
              </label>
              <div class="col-md-12">
                <div
                  dx-select-box="$ctrl.controls.slbBrand"
                  dx-validator="$ctrl.validators.brand"
                ></div>
              </div>
            </div>
            <!-- Loại -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Loại</label>
              <div class="col-md-12">
                <div dx-select-box="$ctrl.controls.slbType"></div>
              </div>
            </div>
            <!-- Giá -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">
                Giá <span style="color: red">*</span>
              </label>
              <div class="col-md-12">
                <div
                  dx-number-box="$ctrl.controls.nbPrice"
                  dx-validator="$ctrl.validators.price"
                ></div>
              </div>
            </div>
            <!-- Giá cũ -->
            <div ng-if="data.Type === 3" class="col-md-12 form-group mb-30">
              <label class="col-12">Giá cũ</label>
              <div class="col-md-12">
                <div dx-number-box="$ctrl.controls.nbOldPrice"></div>
              </div>
            </div>
            <!-- Published -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Trạng thái</label>
              <div class="col-md-12">
                <div dx-select-box="$ctrl.controls.slbStatus"></div>
              </div>
            </div>
            <!-- Featured -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">&nbsp;</label>
              <div class="col-md-12">
                <div dx-check-box="$ctrl.controls.cbFeatured"></div>
              </div>
            </div>
            <!-- Sort Order -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Thứ tự</label>
              <div class="col-md-12">
                <div dx-number-box="$ctrl.controls.nbSortOrder"></div>
              </div>
            </div>
            <!-- Image -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Ảnh đại diện</label>
              <div class="col-md-12">
                <div dx-text-box="$ctrl.controls.tbImage"></div>
                <div
                  style="margin-top: 15px"
                  ng-if="$ctrl.commonService.isNullOrEmpty(data.Image)"
                >
                  <a
                    ng-click="$ctrl.chooseImage()"
                    style="
                      color: #0073aa;
                      text-decoration: underline;
                      font-style: italic;
                      cursor: pointer;
                    "
                  >
                    Chọn ảnh đại diện
                  </a>
                </div>
                <div ng-if="!$ctrl.commonService.isNullOrEmpty(data.Image)">
                  <div style="text-align: center">
                    <img
                      style="cursor: pointer; margin-top: 10px"
                      ng-click="$ctrl.chooseImage()"
                      class="img-fluid"
                      ng-src="{{ data.Image }}"
                      alt="Ảnh đại diện"
                      title="Chọn hình ảnh"
                    />
                  </div>
                  <div style="margin-top: 10px">
                    <i>Nhấn vào ảnh để sửa hoặc cập nhật</i>
                  </div>
                  <div style="margin-top: 10px">
                    <a
                      ng-click="$ctrl.clearImage()"
                      style="
                        color: #0073aa;
                        text-decoration: underline;
                        font-style: italic;
                        cursor: pointer;
                      "
                    >
                      Xóa ảnh đại diện
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Image Banner -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Ảnh banner</label>
              <div class="col-md-12">
                <div dx-text-box="$ctrl.controls.tbImageBanner"></div>
                <div
                  style="margin-top: 15px"
                  ng-if="$ctrl.commonService.isNullOrEmpty(data.ImageBanner)"
                >
                  <a
                    ng-click="$ctrl.chooseImageBanner()"
                    style="
                      color: #0073aa;
                      text-decoration: underline;
                      font-style: italic;
                      cursor: pointer;
                    "
                  >
                    Chọn ảnh banner
                  </a>
                </div>
                <div
                  ng-if="!$ctrl.commonService.isNullOrEmpty(data.ImageBanner)"
                >
                  <div style="text-align: center">
                    <img
                      style="cursor: pointer; margin-top: 10px"
                      ng-click="$ctrl.chooseImageBanner()"
                      class="img-fluid"
                      ng-src="{{ data.ImageBanner }}"
                      alt="Ảnh banner"
                      title="Chọn hình ảnh"
                    />
                  </div>
                  <div style="margin-top: 10px">
                    <i>Nhấn vào ảnh để sửa hoặc cập nhật</i>
                  </div>
                  <div style="margin-top: 10px">
                    <a
                      ng-click="$ctrl.clearImageBanner()"
                      style="
                        color: #0073aa;
                        text-decoration: underline;
                        font-style: italic;
                        cursor: pointer;
                      "
                    >
                      Xóa ảnh banner
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ::: SEO ::: -->
        <div class="col-md-12">
          <div class="row">
            <!-- SEO -->
            <div class="col-md-12">
              <div class="block">
                <!-- HEARDER -->
                <div
                  class="block-header block-header-default bg-corporate"
                  style="
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                      0 1px 2px rgba(0, 0, 0, 0.24);
                  "
                >
                  <h3 class="block-title font-weight-bold text-white">SEO</h3>
                  <div class="block-options">
                    <button
                      type="button"
                      class="btn-block-option"
                      data-toggle="block-option"
                      data-action="content_toggle"
                      title="Thu gọn / Mở rộng"
                    >
                      <i class="si si-arrow-up text-white"></i>
                    </button>
                    <button
                      type="button"
                      class="btn-block-option"
                      data-toggle="block-option"
                      data-action="fullscreen_toggle"
                      title="Phóng to / Thu nhỏ"
                    >
                      <i class="si si-size-fullscreen text-white"></i>
                    </button>
                  </div>
                </div>

                <!-- CONTENT -->
                <div class="block-content pt-20">
                  <div class="row">
                    <!--Main-->
                    <div class="col-md-12" style="padding-right: 0px">
                      <div class="row">
                        <!-- Title SEO -->
                        <div class="col-md-12 form-group mb-30">
                          <label class="col-12">Tiêu đề SEO</label>
                          <div class="col-md-12">
                            <div dx-text-box="$ctrl.controls.tbSEOTitle"></div>
                          </div>
                        </div>
                        <!-- Description SEO -->
                        <div class="col-md-12 form-group mb-30">
                          <label class="col-12">Thẻ mô tả</label>
                          <div class="col-md-12">
                            <div
                              dx-text-area="$ctrl.controls.taSEODescription"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Create-->
<product-group-create
  ng-if="$ctrl.createGroup.visible === true"
  visible="$ctrl.createGroup.visible"
  on-saved="$ctrl.onCreatedGroup()"
  on-close="$ctrl.onCreateGroupClosed()"
></product-group-create>

<!-- LoadPanel -->
<div class="loadpanel" dx-load-panel="$ctrl.loadPanel"></div>
